.content {
  	overflow: hidden;
  	> div {
    	overflow: hidden;
    	> div {
      		overflow: auto;
      		padding: 0px 10px;
    	}
  	}
    .login-form, .signup-form  {
		width:95%;
    	max-width:400px;
    	margin:0 auto;	
		input {
			width:@hundred;
			background:@theme-accent;
			color: @theme-accent-1;
			font-size:15px;
			padding:15px 10px;
			margin:15px 0 0 0;
			.placeholder();
			&:first-child {
				margin-top: 0px;	
			}
		}
	}
  	.welcome {
    	margin-top: 15px;
    	text-align: center;
    	font-size: 22px;
    	width: @hundred;
    	margin-bottom: 10px;
    	display: inline-block;
        @media (max-width: 690px) {
            font-size: 19px;   
        }
  	}
  	.home-buttons {
		a:nth-child(1), a:nth-child(2) {
			width: 42%;
            @media (max-width: 690px) {
                margin: 10px 0px;
				width: 65%;   
            }
            @media (max-width: 400px) {
                margin: 10px 0px;
				width: 90%;   
            }
    	}
  	}
  	.buttons {
    	width: @hundred;
    	text-align: center;
    	font-size: 0px;
    	margin-top: 15px;
    	a {
      		display: inline-block;
      		margin: 10px 2%;
      		width: 38%;
            @media (max-width: 690px) {
                margin: 10px 0px;
				width: 60%;   
            }
            @media (max-width: 400px) {
                margin: 10px 0px;
				width: 80%;   
            }
    	}
		&:after {
    		clear: both;
    		display: block;
    		content: "";
  		}
  	}
  	.login-buttons {
		a {
    		width: 95%;
    		max-width: 400px;
			float: none;
			display: block;
			margin: 15px auto;
			&.fb-login {
				.gradient-bg (@fb-accent,@fb-accent-1);
    			border:2px solid @fb-btn-border;
  			}
		}
	}
  	.tutorial-video {
    	margin-top:20px;
    	text-align:center;
        @media (max-width:640px) {
            margin-top: 100px;
        }
    	video {
      		border:3px solid @theme-accent;
    	}
  	}
  	.objective-data {
		.border-radius (5px, 5px, 5px, 5px);
    	width: 80%;
    	background: fade(@black,15%);
    	margin: 0 auto;
    	padding: 15px 10px;
    	> div {
      		padding:0 15px 0 10px;
    	}
    	p {
      		font-size:16px;
    	}
  	}
  	.faqs-data {
   		width:80%;
    	margin:0 auto;
        @media (max-width:640px) {
            width: @hundred;   
        }
    	> div {
      		padding:0 10px 0 10px;
      		ul {
        		width:@hundred;
        		font-size:0px;
        		text-align:center;
        		li {
					.border-radius (5px, 5px, 5px, 5px);
					background: fade(@black,15%);
					display:inline-table;
					width:46%;
					font-size:16px;
					margin:10px 2%;
					padding:10px 15px;
                    @media (max-width: 900px) {
                        width: 80%;
						margin: 10px 0px;   
                    }
                    @media (max-width: 568px) {	
                        width: @hundred;
                        margin: 10px 0px;
                    }
					p {
						text-align:left;
					}
        		}
      		}
    	}
  	}
  	.scoring-data {
    	width:90%;
		margin:0 auto;
        @media (max-width: 768px) {
            width: @hundred;   
        }
		> div {
		  	padding:0 10px;
     		 ul {
        		text-align:center;
        		font-size:0px;
        		li {
					display:inline-table;
					width:30%;
					margin:10px 1.5%;
					.border-radius (5px, 5px, 5px, 5px);
					background: fade(@black,15%);
					padding:10px 15px;
                    @media (max-width:1100px) {
                        width: 40%;
                        margin: 20px 2%;   
                    }
                    @media (max-width:880px) {
                        width: 46%;
						margin: 15px 2%;   
                    }
                    @media (max-width: 640px) {
                        width: 70%;
						margin: 10px 0px;   
                    }
                    @media (max-width: 540px) {
                        width: 85%;
						margin: 10px 0px;
                    }
                    @media (max-width:480px) {
                        width: 90%;
						margin: 10px 0px;
                    }
                    @media (max-width:400px) {
                        width: @hundred;
                        margin: 10px 0px;   
                    }
                    h3 {
						font-size:24px;
						text-transform:uppercase;
						margin-bottom:6px;
						span {
					  		font-size:20px;
					  		font-weight: 600;
						}
					}
					p {
						font-size:15px;
						span {
					  		font-size:20px;
					  		font-weight: 600;
						}
					}
        		}
      		}
      		.letter-points-scoring {
        		margin:15px auto;
				.border-radius (5px, 5px, 5px, 5px);
				background: fade(@black,15%);
        		width:30%;
        		padding:10px 10px 15px;
                @media (max-width:1100px) {
                    width: 40%;   
                }
                @media (max-width:880px) {
                    width: 46%;   
                }
                @media (max-width: 640px) {
                    width: 70%;
					margin-top: 10px;   
                }
                @media (max-width: 540px) {
                    width: 85%;
					margin-top: 10px;   
                }
                @media (max-width:480px) {
                    width: 90%;
					margin-top: 10px;   
                }
                @media (max-width:400px) {
                    margin-top: 10px;
                    width: @hundred;   
                }
        		h2 {
				  font-size:25px;
				  text-transform:uppercase;
				  margin-bottom:6px;
				  text-align:center;
				}
        		.letters-scoring {
          			font-size:0;
          			text-align:center;
					p {
						display:inline-table;
						.gradient-bg (@theme-accent-2,@theme-accent-3);
						width:40px;
						height:40px;
						padding:10px 0;
						font-size:32px;
						color: @theme-accent;
						text-align:center;
						font-weight: 600;
						margin:1px;
						position:relative;
						span {
							font-size:14px;
							line-height:14px;
							position:absolute;
							bottom:1px;
							right:2px;
							color: fade(@black,60%);
                            font-weight: 700;
						}
					}
        		}
      		}
    	}
  	}
  	.credits-data {
    	width:95%;
    	margin:0 auto;
    	> div {
     		padding:10px;
      		text-align:center;
      		text-transform:uppercase;
      		p {
        		font-size:16px;
        		margin:50px 0 3px;
      		}
      		&:first-child {
        		margin-top:0;
      		}
      		h3 {
        		font-size:23px;
        		margin-bottom:3px;
      		}
    	}
  	}
  	.multiplayer-data {
		a {
    		width:95%;
    		max-width:400px;
    		float:none;
    		display:block;
    		margin:15px auto;
			&.fb-login {
				.gradient-bg (@fb-accent,@fb-accent-1);
				border: 2px solid @fb-btn-border;
			}
		}
  	}
  	.smart-match-data {
	  	.smart-match-buttons {
            margin-top: 0px;
    		a {
      			width:95%;
      			max-width:220px;
      			display:inline-block;
				margin:0 9px;
				font-size:16px;
				padding:12px 5px;
                @media (max-width: 760px) {
                    width: 80%;
					max-width: 400px;
					padding: 15px 5px;
					margin: 5px 0;
					font-size: 16px;   
                }
				&.fb-login {
					.gradient-bg (@fb-accent,@fb-accent-1);
					border: 2px solid @fb-btn-border;
				}
                &:first-child {
                    margin-top: 0px;   
                }
			}
		}
  		.smart-match-users {
            margin-top: 15px;
            @media (max-width: 760px) {
                margin-top: 5px;   
            }
			.turn-seperator {
    			font-size:15px;
    			background: @theme-accent-2;
    			border-top:1px solid @theme-accent;
    			border-bottom:1px solid @theme-accent;
    			text-transform:uppercase;
    			text-align:center;
    			width:@hundred;
    			font-weight: 600;
  			}
            ul {
                li {
                    width: @hundred;
                    border-bottom: 1px solid @theme-accent;
                    &:last-child {
                        border-bottom: none;   
                    }
                    div {
                        padding: 10px 0px;
                        width: 400px;
                        margin: 0px auto;
                        &:after {
                            content: "";
                            display: block;
                            clear: both;   
                        }
                        @media (max-width: 360px) {
                            width: 330px;    
                        }
                        @media (max-width: 320px) {
                            width: 310px;
                        }
                        figure {
                            float: left;  
                            margin-right: 15px;
                            width: 55px;
                            height: 55px;
                            @media (max-width: 360px) {
                                width: 45px;
                                height: 45px;
                            }
                            overflow: hidden;
                            border: 2px solid @theme-accent;
                            .border-radius(8px,8px,8px,8px);
                            .box-shadow();
                            img {
                                width: @hundred;
                                float: left;   
                            }
                        }
                        p {
                            float: left; 
                            width: 255px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap; 
                            margin-top: 0px;
                            font-size: 23px;
                            letter-spacing: -0.5px; 
                            font-weight: 700;
                            text-transform: uppercase;
                            @media (max-width: 360px) { 
                                width: 220px;
                                font-size: 20px;
                                line-height: 20px;
                                margin-top: 3px;
                            }
                            @media (max-width: 320px) {
                                width: 200px;   
                                margin-top: 3px;
                            }
                            span {
                                font-size: 16px;
                                font-weight: 300;
                                @media (max-width: 360px) { 
                                    font-size: 15px;
                                }   
                            }
                        }
                        a {
                            float: right;
                            height: 40px;
                            @media (max-width: 360px) {
                                height: 25px;   
                            }
                            margin-top: 8px;
                            display: block;
                            img {
                                height: @hundred;   
                            }
                        }
                    }
                }
            }
		}
	}
    .leaderboard-data {
        margin-top: 0px;
        @media (max-width: 760px) {
            margin-top: 5px;   
        }
        .leaderboard-users {
            .turn-seperator {
                img {
                    height: 13px;
                    margin-right: 10px;  
                }
                font-size:15px;
                background: @theme-accent-2;
                border-top:1px solid @theme-accent;
                border-bottom:1px solid @theme-accent;
                text-transform:uppercase;
                text-align:center;
                width:@hundred;
                font-weight: 600;
            }
            ul {
                li {
                    width: @hundred;
                    border-bottom: 1px solid @theme-accent;
                    &:last-child {
                        border-bottom: none;   
                    }
                    div {
                        padding: 10px 0px;
                        width: 400px;
                        margin: 0px auto;
                        &:after {
                            content: "";
                            display: block;
                            clear: both;   
                        }
                        @media (max-width: 360px) {
                            width: 330px;    
                        }
                        @media (max-width: 320px) {
                            width: 310px;
                        }
                        figure {
                            float: left;  
                            margin-right: 15px;
                            width: 55px;
                            height: 55px;
                            @media (max-width: 360px) {
                                width: 45px;
                                height: 45px;
                            }
                            overflow: hidden;
                            border: 2px solid @theme-accent;
                            .border-radius(8px,8px,8px,8px);
                            .box-shadow();
                            img {
                                width: @hundred;
                                float: left;   
                            }
                        }
                        p {
                            float: left; 
                            width: 255px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap; 
                            margin-top: 0px;
                            font-size: 21px;
                            line-height: 55px;
                            letter-spacing: -0.5px; 
                            font-weight: 700;
                            text-transform: uppercase;
                            @media (max-width: 360px) { 
                                width: 220px;
                                font-size: 19px;
                                line-height: 45px;
                                margin-top: 3px;
                            }
                            @media (max-width: 320px) {
                                width: 200px;   
                                margin-top: 3px;
                            }
                        }
                        span {
                            float: right;
                            line-height: 55px;
                            width: 70px;
                            font-size: 20px;
                            display: block;
                            font-size: 20px;
                            text-align: right;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}