footer {
	text-align: center;
	position: absolute;
	width: @hundred;
	float: left;
	bottom: 0px;
	&:after {
		display: block;
		content: "";
		clear: both;	
	}
	.foot-left-icon {
		float: left;
		margin-left: 10px;	
		a {
			display: block;
		}
	}
	.foot-right-icon {
		float: right;
		margin-right: 10px;	
		a {
			display: block;
		}
	}
}