header {
	float: left;
	width: @hundred;
	text-align: center;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
	.logo {
		margin: 25px auto 15px;	
		width: 200px;
		img {
			width: @hundred;	
		}
	}
	.login-logo {
		max-width: 200px;	
		margin: 40px auto 25px;
		img {
			width: @hundred;	
		}
	}
	.headings {
		img {
			width: @hundred;	
		}
	}
	.how-to-play {
		width: 270px;
		margin: 90px auto 20px;
	}
	.objective {
		width: 250px;
		margin: 30px auto;
        @media (max-width: 640px) { 
            margin: 5px auto 15px;
        }
	}
	.faqs {
		width: 160px;
		margin: 30px auto;
        @media (max-width: 640px) { 
            margin: 5px auto 15px;
        }
	}
	.scoring {
		width: 240px;
		margin: 30px auto;
        @media (max-width: 640px) { 
            margin: 5px auto 15px;
        }
	}
	.multiplayer {
		width: 240px;
		margin: 30px auto;	
        @media (max-width: 640px) { 
            margin: 5px auto 15px;
        }
	}
	.top-left-icon {
		position: absolute; 
		top: 0px;
		left: 0px; 
		.back {
			float: left;
			img {
				width: 75px;	
			}
		}
	}
	.top-right-icon {
		position: absolute; 
		top: 0px; 
		right: 20px;
		.coin-bar {
			padding: 20px 10px 10px;
			background: fade(@black,15%);
			border: 1px solid fade(@theme-accent,70%);
			display: block;
			border-top: none;
			.border-radius(0px,0px,5px,5px);
			p {
				font-size: 28px;	
			}
			span {
				font-size: 15px;	
			}
		}
		.small-logo {
			@media (max-width: 568px) {
				display: none;	
			}
			width: 90px;
			display: block;
			margin-top: 10px;
			img {
				width: @hundred;	
			}
		}
	}
}