.content {
	.welcome {
		margin-top: 15px;
		text-align: center;
		font-family: 'bold';
		font-size: 22px;	
	}
	.home-buttons {
		width: @hundred;
		text-align: center;
		font-size: 0px;
		margin-top: 35px;
		&:after {
			clear: both;
			display: block;
			content: "";	
		}
		a {
			display: inline-block;
			margin: 10px 2.5%;
			width: 30%;	
			@media (max-width: 400px) {
				margin: 10px 0px;
				width: 75%;
			}
			&:nth-child(1), &:nth-child(2) {
				width: 35%;
				@media (max-width: 400px) {
					margin: 10px 0px;
					width: 85%;
				}
			}
		}
	}
}