* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;	
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    .border-radius(4px,4px,4px,4px);
    background-color: fade(@black,0%);
    -webkit-box-shadow: 0 0 1px fade(@theme-accent,0%);
	margin: 5px 0px;
}

input, img , input:focus, textarea, textarea:focus, button {
	border: none;
	outline: none;	
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-collapse: separate;
}
body {
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	color: @theme-accent;	
}

.main {
    width: @hundred; 
    overflow: hidden;
	position: relative;
	background-color: @theme-bg;
	background-image: url(img/graphic.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 348px 227.66px;
	.container {
		float: left;
		margin: 0px auto;	
		max-width: @desktop;
		width: @hundred;	
		padding: 0px 10px;
		@media (max-width: 960px) {
			max-width: @small-desktop;	
		}
		@media (max-width: 768px) {
			max-width: @ipad;	
		}
		
		@media (max-width: 640px) {
			max-width: @xhd-phone;	
		}
		
		@media (max-width: 540px) {
			max-width: @hd-phone;	
		}
		
		@media (max-width: 360px) {
			max-width: @phone;	
		}
		@media (max-width: 320px) {
			max-width: @iPhone;	
		}
	}
}

.hundred {
	width: @hundred;	
}

.no-padding {
	padding: 0px !important;
}

p {
	font-size: 18px;
	line-height: 26px;	
	@media (max-width: 690px) {
		font-size: 16px;	
	}
}
a {
	color: @theme-accent;
	font-weight: 600;	
}
a.button {
	font-size: 20px;
	@media (max-width: 690px) {
		font-size: 16px;	
	}
	.gradient-bg (@theme-accent-2, @theme-accent-3);
	border: 2px solid @btn-border;
	padding: 15px 10px;	
	text-transform: uppercase;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "variables.less";
@import "header.less";
@import "content.less";
@import "footer.less";