@theme-bg: #00BECC;
@black: #000000;
@btn-border: #F0AC1C;
@theme-accent: #FFFFFF;
@theme-accent-1: lighten(@black,60%);
@theme-accent-2: #FFAC27;
@theme-accent-3: #F7941E;
@fb-accent: #1c75bc;
@fb-accent-1: #1461ad;
@fb-btn-border: #0f7bb6;
@hundred: 100%;
@desktop: 2500px;
@small-desktop: 950px;
@ipad: 768px;
@xhd-phone: 640px;
@hd-phone: 540px;
@phone: 360px;
@iPhone: 320px;

.gradient-bg (@light: @theme-accent-2, @dark: @theme-accent-3) {
background: @dark;
background: -moz-linear-gradient(-45deg,  @light 0%, @light 50%, @dark 50%, @dark 100%); 
background: -webkit-linear-gradient(-45deg,  @light 0%, @light 50%, @dark 50%, @dark 100%); 
background: linear-gradient(135deg,  @light 0%, @light 50%, @dark 50%, @dark 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@light', endColorstr='@dark',GradientType=1 );
}

.border-radius (@radius1: 0px,@radius2: 0px,@radius3: 0px,@radius4: 0px) {
    -webkit-border-radius: @radius1 @radius2 @radius3 @radius4;
    -moz-border-radius: @radius1 @radius2 @radius3 @radius4;
    -ms-border-radius: @radius1 @radius2 @radius3 @radius4;
    -o-border-radius: @radius1 @radius2 @radius3 @radius4;
    border-radius: @radius1 @radius2 @radius3 @radius4;
}

.desaturate() {
    filter: url(l2f.svg#desaturate);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(ierf.svg#desaturate);
	filter: gray;
	-webkit-filter: grayscale(1);   
}
.placeholder(@font-style: italic) {
	&::-webkit-input-placeholder {
	   font-style: @font-style;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   font-style: @font-style; 
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   font-style: @font-style; 
	}
	&:-ms-input-placeholder {  
	   font-style: @font-style; 
	}	
}

.box-shadow (@val:1px, @color: fade(@black,30%)) {
	box-shadow: 0px 0px @val @color;
	-webkit-box-shadow:  0px 0px @val @color;	
	-moz-box-shadow: 0px 0px @val @color;
}