<head>
	<script type="text/javascript" src="http://localhost:3001/public/scripts/dictionary.js"></script>
	<script type="text/javascript" src="http://localhost:3001/public/scripts/bot.js"></script>
</head>
<body>
	<div id="zone_bot"></div>
	<script>
	
	//Bot Initialize
	//  BotInitialize(gridSize,refresh);	
	// Refresh Means you need new grid or want to continue from same Grid
	var initial=BotInitialize(5,true);
	var initalLetter=initial.letter;
	console.log(initalLetter,initial.row,initial.col);

	//Send Letter to Bot in Response You will get another letter
	var response=BotWork('C');
	console.log(response);

	var response=BotWork('L');
	console.log(response);

	</script>
</body>


