<head>
	<script type="text/javascript" src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="zone_chat"></div>
	<script>

	var socket = io.connect('http://localhost:3001');

	var socket = null;
	try {
		socket = io.connect();
		console.log("socket: Ok!");

	} catch(err) {
		console.error("Socket is out of service!");
	}

	if(socket != null) {
		socket.emit('game', '5656f1709e56271264735d65');
		// socket.emit('move', row,col,letter);
		socket.emit('move', '1',"2","A");
		socket.emit('chat', 'Hello');
		socket.on('message',function(err,data){
			console.log("ASD");
			console.log(data);
		});
	}
	</script>
</body>


